html {
	font-size: 1rem;
	font-family: 'Noto Sans', sans;
}
body {
	background-color: #dce1e3;
	margin: auto;
	color: #5c5f58;
	width: 95%;
	padding: 0;
}
.container {
	width: 90%;
	margin: auto;
	min-width: 310px;
	max-width: 790px;
}
.pagetitle {
	display: block;
	margin: auto;
	text-align: center;
	margin: 1rem 0 0.4rem 0;
	font-weight: 700;
	font-size: 2rem;
}
.section {
	text-align: center;
	margin: 1rem 0;
}
.list {
	display: grid;
	align-items: center;
	text-align: center;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, 150px);
	grid-template-rows: repeat(auto-fill, 60px);
	grid-gap: 10px;
}
.entry {
	display: flex;
	background-color: #ffffff;
	align-items: center;
	text-align: center;
	justify-content: center;
	width: 150px;
	min-height: 60px;
	font-size: 0.9rem;
}
.entry > a:link, a:visited, a:active {
	color: #5c5f58;
	text-decoration: none;
}
.entry > a:hover {
	color: #0c0f08;
}
.title {
	font-weight: 600;
}
.subtitle {
	font-size: 0.8rem;
}
.score {
	font-size: 0.8rem;
}
.footer {
	display: block;
	margin: 0.4rem 0;
}
